.title {
    text-align: center;
    font-size: 30px;
    color: #6726a3;
    font-weight: bolder;
    margin-bottom: 20px;
 }
.text {
    text-align: center;
    max-width: 400px;
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
    margin: 15px;
 }
.form{
    background-image: url(../img/copybook.jpg);
    background-repeat: no-repeat;
	background-size: cover;
    border-radius: 5px;
    padding: 20px 30px; 
}
.btn {
    background-color: blueviolet;
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    height: 50px;
    border-radius: 5px;

}
.btn_pos{text-align: center;margin: 10px;}
.image {
    border-radius: 10px;
    border: 5px solid #7c1b74;
    background-color: #fdcdff;
    text-align: center;
    margin-top: 20px;
}
.input-text{
    display: flex;
    width: 200px;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    border: 5px #c55daf dashed;
}
.radio{
    display: flex;
    align-items: center;
    background-color: #fb86ff;
    border-radius: 5px;
    justify-content: center;
    font-size: 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
}
.radio-toolbar input[type="radio"] {
    display: none;
}
radio:hover, input[type="radio"]:checked+label{
    background-color: #96e5f0;
    border: 1px solid #b32494;
}
.error{
    text-align: center;
    padding: 10px;
    color: red;
    font-size: 10px;
}
.content1 {
    display: none;
}